<mat-card class="schedule-form">
  <form [formGroup]="scheduleForm" novalidate>
    <div class="data-input">
      <mat-form-field>
        <mat-select formControlName="grouping_id" placeholder="Agrupament">
          <mat-option *ngFor="let grouping of groupings" [value]="grouping._id">
            {{grouping.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [type]="startInputType" formControlName="start" placeholder="Inici">
      </mat-form-field>
        <mat-slider [min]="minAllowed" [max]="maxAllowed" [step]="allowedStep" [(value)]="allowed" thumbLabel tickInterval="1"></mat-slider>
      <div>
        <button mat-raised-button color="warn" [disabled]="schedule==null" (click)="revert()">Descarta</button>
        <button mat-raised-button color="primary" [disabled]="scheduleForm.pristine || scheduleForm.invalid" (click)="submit()">Desa</button>
      </div>
    </div>
  </form>
</mat-card>
