.grouping-form {
  margin-top: 8px;
}

.data-input {
  display: flex;
}

.data-identity {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}

.data-members {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.member-selector {
  display: flex;
  flex-direction: row;
  align-items: center;

  mat-form-field {
    margin-right: 10px;
  }
}

.mat-horizontal-stepper-content {
  overflow: initial !important;
}

.identity-step {
  display: flex;
  flex-direction: column;
}

.members-step {
  display: flex;
  flex-direction: column;

  .group-members-select {
    display: flex;
    align-items: center;
  }

  .group-members-field {
    flex: auto;
  }
}

.wifi-member-list {
  display: inline-block;
  height: 120px;
  overflow-y: scroll;
  width: 100%;
}
